#sign-in-button{
  color:#BA1A26 !important;
  border-color:#BA1A26 !important;
}

.greeting{
  margin:30px;
  font-size: 1.5rem !important;
}

.sign-in-prompt{
  margin:30px;
  font-size: 1.2rem !important;
}

.add-rating-button{
  background-color:black !important;
  height:30px !important;
  margin-top:15px !important;
  margin-left:10px !important;
  width:195px !important;
  border-radius:6px !important;
}

.add-rating-button-text{
  width: 100% !important;
  line-height: 1;
}

.rating-select{
  margin:5px 10px !important;
  border-radius: 5px !important;
  background-color:white !important;
}

.additional-rating{
  margin:5px 5px !important;
  margin-top:12px !important;
}

.already-rated{
  margin:17px;
  color:#BA1A26 !important;
}

.menu-title{
  background-color: #BA1A26 !important;
  color:white !important;
}

.stars{
  margin:10px !important;
}

.logo{
  height:45px;
  width:140px;
}

.select{
  border: 1px solid black !important;
}
