#sign-in-button{
  color:#BA1A26 !important;
  border-color:#BA1A26 !important;
}

.greeting{
  margin:30px;
  font-size: 1.5rem !important;
}

.sign-in-prompt{
  margin:30px;
  font-size: 1.2rem !important;
}

.add-rating-button{
  background-color:black !important;
  height:30px !important;
  margin-top:15px !important;
  margin-left:10px !important;
  width:195px !important;
  border-radius:6px !important;
}

.carousel{
  width:350px !important;
  height:350px !important;
  border-radius:100px !important;
  margin:auto;
}

.add-rating-button-text{
  width: 100% !important;
  line-height: 1;
}

.rating-select{
  margin:5px 10px !important;
  border-radius: 5px !important;
  background-color:white !important;
}

.additional-rating{
  margin:5px 5px !important;
  margin-top:12px !important;
}

.col-sm{
  margin:10px 0px !important;
}

.accordion {
    margin: 3px;
    padding: 3px;
    border:1px solid #ddd;
    border-radius:5px;
}

.accordion>.card .card-header {
  background-color:white !important;
  border:none !important;
  width:100%;
  padding:1px;
}

.accordion>.card {
  border:none !important;
  padding:3px;
}

.list-group-flush .list-group-item {
    border-right: 0px white !important;
    border-left: 0px white !important;
    border-radius: 0px white !important;
}

.footer{
  margin:20px;
  text-align:center;
}

.home-title{
  text-align:center;
  font-size:50px;
  padding:30px;
  width:100%;
  font-weight:bold !important;
  color:#AD2525;
}

.lville{
  height:55px;
  width:155px;
}

.lvillelogo{
  height:70px;
  margin:5px;
  width:70px;
}

.carousel-inner{
  border-radius:10px;
}

.copyright{
  margin-left:10px;
  margin-top:10px !important;
  font-size:15px;
}

.sustainable{
  margin:5px;
  margin-left:30px;
  height:70px;
  width:150px;
}


.list-group .list-group-item {
    border-top: 0.5px gray black !important;
    padding:0px !important;
}

.card-header > .btn{
  width:100% !important;
  padding:20px;
}

/* .filled-option{
  color:white;
  background-color:black;
  border:1px solid white;
  border-radius:3px;
  margin:2px;
  padding:7px;

}

.col-sm{
  border:1px solid black;
  margin:5px !important;
  padding:5px !important;
  border-radius:5px;
  background-color:black;
  color:white;
}

.unfilled-option{
  border:1px solid black;
  border-radius:3px;
  margin:2px;
  padding:7px;
  background-color:white;
  color:black;
} */


.filled-option{
  color:white;
  background-color:black;
  border:1px solid white;
  border-radius:3px;
  margin:2px;
  padding:7px;

}

.unfilled-option{
  border:1px solid black;
  border-radius:3px;
  margin:2px;
  padding:7px;
  background-color:white;
  color:black;
}


.rating-boxes{
  border:1px !important;
}

.already-rated{
  margin:17px;
  color:#BA1A26 !important;
}

.accordion{
  margin:3px;
  padding:3px;

}

.submit-button{
  margin:3px;
  margin-top:20px;
  width:100%;
  border-radius:10px !important;
  text-align:center;
}

.btn-primary{
  background-color:#BA1A26 !important;
  border:0px white !important;
  color:white;
  width:300px;
  display:inline-block;
}

.menu-title{
  background-color: #BA1A26 !important;
  color:white !important;
}

*{
  font-family:"Avenir" !important;
  font-weight:lighter !important;
}

h4{
  font-weight:500 !important;
}

h5{
  font-weight:450 !important;
}

.form-label{
  font-weight:450 !important;
}

span, .meal_name{
  font-weight:450 !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color:rgb(245,245,245) !important;
}

a.nav-link {
  margin:5px 10px !important;
  color:black !important;
}

a.nav-link.active {
  color: #BA1A26 !important;
}

.body{
  font:Helvetica;
}

.stars{
  margin:10px !important;
}

.rating-comment{
  margin:5px;
  border-radius:3px;
  padding:10px;
  border: 1px solid black;
  margin-bottom:20px;
}

.rating-display{
  margin:1px;
  padding:5px;
  border-radius:3px;
}

.logo{
  height:60px;
  width:180px;
}

.navbar-light .navbar-nav .nav-link {
  font-size:20px;
}

.select{
  border: 1px solid black !important;
}

.mission-title{
  margin: 20px;
  font-size:75px;
}

.mission-element{
  font-size:30px;
}
